In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
df = pd.read_csv("Pract3a.csv")

In [7]:
df

       Name  Age  income  gender
0    Tushar   21   20000    male
1    Aniket   19   20000    male
2     kumar   22   30000    male
3     Tejas   20   50000    male
4   pradeep   20   60000    male
5   akshata   18   10000  female
6  pranjali   19   12000  female
7    Anisha   19   14000  female

In [8]:
mean_age_by_gender = df.groupby('gender')['Age'].mean()

In [9]:
print(mean_age_by_gender)

gender
female    18.666667
male      20.400000
Name: Age, dtype: float64

In [10]:
median_age_by_gender = df.groupby('gender')['Age'].median()

In [11]:
print(median_age_by_gender)

gender
female    19.0
male      20.0
Name: Age, dtype: float64

In [12]:
std_age_by_gender = df.groupby('gender')['Age'].std()

In [13]:
print(std_age_by_gender)

gender
female    0.577350
male      1.140175
Name: Age, dtype: float64

In [14]:
max_age_by_gender = df.groupby('gender')['Age'].max()

In [15]:
print(max_age_by_gender)

gender
female    19
male      22
Name: Age, dtype: int64

In [16]:
min_age_by_gender = df.groupby('gender')['Age'].min()

In [17]:
print(min_age_by_gender)

gender
female    18
male      19
Name: Age, dtype: int64

In [18]:
X=df.iloc[[5,3]]
print(X['Age'].mean())

19.0

In [19]:
X=df.iloc[[2,3]]
print(X['income'].mode())

0    30000
1    50000
Name: income, dtype: int64

In [20]:
Y=df.iloc[[2,3]]
print(Y['Age'].median())

21.0

In [21]:
litlist = []

In [22]:
litlist = [df.groupby('gender')['Age'].median(),
           df.groupby('gender')['Age'].mean(),
           df.groupby('gender')['Age'].min(),
           df.groupby('gender')['Age'].max(),
           df.groupby('gender')['Age'].std()]

In [39]:
print(litlist)

[gender
female    19.0
male      20.0
Name: Age, dtype: float64, gender
female    18.666667
male      20.400000
Name: Age, dtype: float64, gender
female    18
male      19
Name: Age, dtype: int64, gender
female    19
male      22
Name: Age, dtype: int64, gender
female    0.577350
male      1.140175
Name: Age, dtype: float64]

In [28]:
# Part2

In [29]:
iris=pd.read_csv("iris.csv")

In [30]:
iris.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [31]:
mean_of_species_SL = iris.groupby('Species')['SepalLengthCm'].mean()
mean_of_species_SW = iris.groupby('Species')['SepalWidthCm'].mean()
mean_of_species_PL = iris.groupby('Species')['PetalLengthCm'].mean()
mean_of_species_PW = iris.groupby('Species')['PetalWidthCm'].mean()

In [32]:
print(mean_of_species_SL)
print(mean_of_species_SW)
print(mean_of_species_PL)
print(mean_of_species_PW)

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64
Species
Iris-setosa        3.418
Iris-versicolor    2.770
Iris-virginica     2.974
Name: SepalWidthCm, dtype: float64
Species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: PetalLengthCm, dtype: float64
Species
Iris-setosa        0.244
Iris-versicolor    1.326
Iris-virginica     2.026
Name: PetalWidthCm, dtype: float64

In [33]:
median_of_species_SL = iris.groupby('Species')['SepalLengthCm'].median()
median_of_species_SW = iris.groupby('Species')['SepalWidthCm'].median()
median_of_species_PL = iris.groupby('Species')['PetalLengthCm'].median()
median_of_species_PW = iris.groupby('Species')['PetalWidthCm'].median()

In [34]:
print(median_of_species_SL)
print(median_of_species_SW)
print(median_of_species_PL)
print(median_of_species_PW)

Species
Iris-setosa        5.0
Iris-versicolor    5.9
Iris-virginica     6.5
Name: SepalLengthCm, dtype: float64
Species
Iris-setosa        3.4
Iris-versicolor    2.8
Iris-virginica     3.0
Name: SepalWidthCm, dtype: float64
Species
Iris-setosa        1.50
Iris-versicolor    4.35
Iris-virginica     5.55
Name: PetalLengthCm, dtype: float64
Species
Iris-setosa        0.2
Iris-versicolor    1.3
Iris-virginica     2.0
Name: PetalWidthCm, dtype: float64

In [36]:
std_of_species_SL = iris.groupby('Species')['SepalLengthCm'].std()
std_of_species_SW = iris.groupby('Species')['SepalWidthCm'].std()
std_of_species_PL = iris.groupby('Species')['PetalLengthCm'].std()
std_of_species_PW = iris.groupby('Species')['PetalWidthCm'].std()

In [37]:
print(std_of_species_SL)
print(std_of_species_SW)
print(std_of_species_PL)
print(std_of_species_PW)

Species
Iris-setosa        0.352490
Iris-versicolor    0.516171
Iris-virginica     0.635880
Name: SepalLengthCm, dtype: float64
Species
Iris-setosa        0.381024
Iris-versicolor    0.313798
Iris-virginica     0.322497
Name: SepalWidthCm, dtype: float64
Species
Iris-setosa        0.173511
Iris-versicolor    0.469911
Iris-virginica     0.551895
Name: PetalLengthCm, dtype: float64
Species
Iris-setosa        0.107210
Iris-versicolor    0.197753
Iris-virginica     0.274650
Name: PetalWidthCm, dtype: float64

In [41]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000